<h1>Checkout</h1>

<%= form_with model: @order, local: true do |form| %>
  <div>
    <%= form.label :address_id, "Select Shipping Address" %>
    <%= form.collection_select :address_id, @addresses, :id, :full_address, prompt: 'Select Address' %>
  </div>

  <div>
    <%= form.hidden_field :subtotal, value: @cart_items.sum { |item| item.product.price * item.quantity } %>
    <%= form.hidden_field :gst, value: @cart_items.sum { |item| item.product.price * item.quantity } * 0.05 %>
    <%= form.hidden_field :hst, value: @cart_items.sum { |item| item.product.price * item.quantity } * 0.13 %>
    <%= form.hidden_field :total_price, value: @cart_items.sum { |item| item.product.price * item.quantity } + (@cart_items.sum { |item| item.product.price * item.quantity } * 0.05) + (@cart_items.sum { |item| item.product.price * item.quantity } * 0.13) %>
    <%= form.hidden_field :status, value: 'pending' %>
  </div>

  <div>
    <%= form.submit 'Place Order' %>
  </div>
<% end %>
